<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <customBinding>
                <binding name="SDLServiceSoapBinding">
                    <textMessageEncoding messageVersion="Soap11" />
                    <httpsTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="https://portal.deceval.com.co:1444/sdlservices/SDLService"
                binding="customBinding" bindingConfiguration="SDLServiceSoapBinding"
                contract="SDLService" name="SDLServiceSoapPort" />
        </client>
    </system.serviceModel>
</configuration>